@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sun, Sea and Surgery</h1>
    <p class="lead">Sun, Sea and Surgery is a Service....</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer arcu dui, egestas eu malesuada eget, tempus in mauris. Ut in eros non urna consectetur auctor at finibus lorem. Donec ut pellentesque nibh, at sollicitudin justo. Donec viverra ultricies lectus, et consectetur enim. Praesent varius urna quis cursus ullamcorper. Fusce consectetur velit accumsan dui ullamcorper placerat. Fusce eleifend posuere diam, in pharetra turpis. Duis non mauris rhoncus, iaculis tortor et, condimentum nibh.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stuff</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer arcu dui, egestas eu malesuada eget, tempus in mauris. Ut in eros non urna consectetur auctor at finibus lorem. Donec ut pellentesque nibh, at sollicitudin justo. Donec viverra ultricies lectus, et consectetur enim. Praesent varius urna quis cursus ullamcorper. Fusce consectetur velit accumsan dui ullamcorper placerat. Fusce eleifend posuere diam, in pharetra turpis. Duis non mauris rhoncus, iaculis tortor et, condimentum nibh.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Stuff</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer arcu dui, egestas eu malesuada eget, tempus in mauris. Ut in eros non urna consectetur auctor at finibus lorem. Donec ut pellentesque nibh, at sollicitudin justo. Donec viverra ultricies lectus, et consectetur enim. Praesent varius urna quis cursus ullamcorper. Fusce consectetur velit accumsan dui ullamcorper placerat. Fusce eleifend posuere diam, in pharetra turpis. Duis non mauris rhoncus, iaculis tortor et, condimentum nibh.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>